<section id="header">
        {{> header_manager}}
    </section>


<div class="table-content">

        <table class="table">
            <h2 class="manager-title text-center">Danh sách công việc chưa duyệt</h2>
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col" class="text-center">Tên công việc</th>
            <th scope="col" class="text-center">Ngày đăng</th>
            <th scope="col" class="text-center">Xử lý</th>
            </tr>
        </thead>
        <tbody class="bg-white">
           {{#each Jobs}}
                 <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td class="text-center">{{this.namejob}}</td>
                    <td class="text-center">{{this.createdAt}}</td>
                    <td class="text-center">
                        <a class="mr-2" href="/manager/{{this._id}}/approved"><i class="fa-solid fa-square-check"></i>Duyệt</a>
                        <a class="mr-2" href="/manager/{{this._id}}/detail"><i class="fa-solid fa-eye"></i>Xem</a>
                        <a href="/manager/{{this._id}}/approve_delete"><i class="fa-solid fa-trash-can"></i>Xóa</a>
                    </td>
                </tr>
           {{/each}}
        </tbody>
        </table>
</div>
