<section id="header">
        {{> header_user}}
    </section>


<div class="container container-search" style="height: calc(100vh - 88px)">
    <div class="search-header">
        <div class="search-form-wrapper">
               <form name="search-form--job" action="/search/jobs" method="POST" class="search-form d-flex align-items-center justify-content-start">
                    <div class="search-form-keyword mr-4">
                        <input type="text" name="keyword" id="search_text--navbar" value="" class="search-form__keyword-input border-radius4 " autocomplete="off"
                        placeholder="Tìm kiếm theo kỹ năng, chức vụ, công ty..." data-search--autocomplete-target="query" data-action="search--autocomplete#toggleClearButton">
                    </div>
                    <div class="search-form-location">
                        <select id="form-select" name="location" class="form-control-combobox border-radius4 mr-4">
                            <option value="Ho Chi Minh">Ho Chi Minh</option>
                            <option value="Ha Noi">Ha Noi</option>
                            <option value="Da Nang">Da Nang</option>
                        </select>
                    </div>
                    <button type="submit" id="btn-search-form" class="search-form-submit">
                            <div class="search-form-submit-icon">
                                <i class="fa-solid fa-magnifying-glass mr-2"></i> Tìm kiếm
                            </div>
                    </button>
               </form>
        </div>
    </div>
    





    {{!-- ----------------------------------------render job--------------------------------------------- --}}
    <section id="jobs">
        <div class="container jobs-overlow" >
            <h5>RECENT UPDATES</h5>

            <div data-aos="fade-left" data-aos-duration="800">
                {{#each Jobs}}
                        <div class="company-details">
                            <div class="job-update">
                               <div class="job-update-left">
                                    <img /
                               </div>
                               <div class="job-update-right">
                                     <h4><b>{{this.namejob}}</b></h4>
                                    <i class="fa fa-briefcase"></i><span>{{this.time}}</span><br>
                                    <i class="fa fa-solid fa-location-dot"></i><span>{{this.location}}</span><br>
                                    <i class="fa fa-solid fa-dollar-sign"></i><span>{{this.money}}</span>
                                    <p class="mt-2">Từ khóa liên quan: {{this.keyword}}</p>
                                    
                               </div>
                            </div>

                            <div class="apply-btn">
                                <button type="button" class="btn btn-primary mr-2"><a href="/search/{{this._id}}/detail" style="color:#fff">Read more</a></button>
                                <button type="button" id="btn-apply" class="btn btn-primary mr-3" >
                                    <a href="/search/{{this._id}}/apply" style="color: #fff !important">Apply</a>
                                </button>
                            </div>
                        </div>
                {{/each}} 
            </div>
        </div>
    </section>
</div>



<footer>
        {{> footer}}
    </footer>


